@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 80 20% 99%;
    --foreground: 200 50% 3%;

    --card: 180 20% 99%;
    --card-foreground: 200 50% 3%;

    --popover: 180 20% 99%;
    --popover-foreground: 200 50% 3%;

    --primary: 200 54% 20%;
    --primary-foreground: 200 0% 100%;

    --secondary: 160 50% 60%;
    --secondary-foreground: 00 50% 3%;

    --muted: 200 20% 96%;
    --muted-foreground: 200 30% 40%;

    --accent: 160 50% 60%;
    --accent-foreground: 200 50% 3%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 200 20% 88%;
    --input: 200 20% 88%;
    --ring: 200 54% 20%;

    --radius: 0.75rem;
  }

  .dark {
    --background: 200 50% 3%;
    --foreground: 180 20% 99%;

    --card: 200 50% 3%;
    --card-foreground: 180 20% 99%;

    --popover: 200 50% 3%;
    --popover-foreground: 180 20% 99%;

    --primary: 200 54% 20%;
    --primary-foreground: 180 20% 99%;

    --secondary: 160 50% 40%;
    --secondary-foreground: 180 20% 99%;

    --muted: 200 40% 10%;
    --muted-foreground: 200 20% 70%;

    --accent: 160 50% 40%;
    --accent-foreground: 180 20% 9%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 180 20% 99%;

    --border: 200 40% 20%;
    --input: 200 40% 20%;
    --ring: 200 54% 20%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}